# This workflow will build a Java project with Maven,
#  and cache/restore any dependencies to improve the workflow execution time
# For more information see:
#  https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Continuous Integration for Docx4J

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '23 7 * * 1'

permissions:
  pull-requests: read

jobs:
  ci:
    continue-on-error: true
    name: Continuous Integration
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        docx4j:
          - 11.4.9
          - 11.4.10
          - 11.4.11
          - 11.5.0
          - 11.5.1
          - 11.5.2
          - 11.5.3
          - 11.5.4
          - 11.5.5
          - 11.5.6
          - 11.5.7
          - 11.5.8

    runs-on: ${{ matrix.os }}

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'temurin'
          cache: 'maven'

      - run: mvn -B -ntp test -Ddocx4j.version="${{ matrix.docx4j }}"
