name: Static Analysis

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '23 7 * * 1'

jobs:
  qodana:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    permissions:
      security-events: write
      actions: read
      contents: write
      checks: write
      pull-requests: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'java-kotlin' ]

    steps:
      - uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis

      - uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'temurin'
          cache: 'maven'

      - run: mvn -B -ntp verify -Pmut
      - run: mkdir -p ./.qodana/code-coverage && cp ./engine/target/site/jacoco/jacoco.xml ./.qodana/code-coverage/jacoco.xml

      - uses: github/codeql-action/analyze@v4
        with:
          category: "/language:${{matrix.language}}"

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2
        with:
          args: |
            --baseline,qodana.sarif.json,
            --linter,qodana-jvm-community,
            --within-docker,false
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}

      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
